body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/webb.png');
  background-repeat: repeat;
}

#outer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(44, 44, 44);
  padding: 40px;
}
#console-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  width: 280px;
  height: 80px;
  margin: 10px;
}
#image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background-color:rgb(230, 230, 230);
  margin: 10px;
}
#canvas-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background-color:rgb(230, 230, 230); 
  margin: 10px;
}
#header{
  display: flex;
  justify-content: center;
  width: 360px;
  background-color: rgb(230, 230, 230);
  margin: 0 0 20px 0;
  border:5px solid rgb(44, 44, 44) 
}
#models{
  width: 85px;
  height: 21px;
}
#submit{
  width: 85px;
  height: 21px;
}
#input{
  width: 85px;
  height: 21px;
}
#info{
  background-color: rgb(230, 230, 230);
  width: 280px;
  text-align: center;
  
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 128px;
  height: 128px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  right: 46%;
  /*tranfsorm: translate(-50%, -50%);*/
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}